*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

#menu {
    height: 50px;
}

#menu ul {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}


.item {
    width: 300px;
    height: 300px;
}

.item img{
    margin: 15px;
    width: 300px;
}

.container-fluid img{
    width: 200px;
}

.navbar img {
    width: 300px;
}

.nav-link {
    color: white
}

.menu_navegacion a{
    font-size: 20px;
    color: white;
}
 
.card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 400ms ease;
}

.cards {
    justify-content: center;
    justify-self: center;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#btn {
    width: 250px;
    height: 100px;
    margin-top: 60px;
    margin-left: 765px;
    line-height: 70px;
    position: relative;
    text-align: center;
    transition: all 1s;
}

#btn a{
    font-size: 40px;
    letter-spacing: 3px;
    color: #00538c;
    text-decoration: none;
    transition: 1s;
}

#btn:hover{
    background-color: #333;
    border: 10px solid #37bcf9;
    border-radius: 240px;
    box-shadow: 0px 0px 10px gray;
    animation: blink 10s infinite linear;
}

#btn:hover a{
    color: white;
    text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
}


#productos h2 {
    text-align: center;
    font-size: 40px;
}

.carousel {
    max-height: 800px;
    overflow: hidden;
}

.carousel02 {
    max-width: 600;
}

/*Estilos de Quienes_somos*/

.quienes_somos {
    width: 600px;
    height: 800px;
    margin-left: 500px;
    margin-top: 60px;
}

.quienes_somos h2 {
    font-size: 45px;
}

.quienes_somos p {
    font-size: 25px;
}


.imagen02 img {
    width: 500px;
    height: 100px;
}

