#menu {
    height: 50px;
}

#menu ul {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}

.item {
    height: 250px;
}

.item img{
    width: 200px;
}





