*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

#menu {
    height: 50px;
}

#menu ul {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}


.item {
    width: 300px;
    height: 300px;
}

.item img{
    margin: 15px;
    width: 300px;
}

.container-fluid img{
    width: 200px;
}

.navbar img {
    width: 300px;
}

.nav-link {
    color: white
}

.menu_navegacion a{
    font-size: 20px;
    color: white;
}
 
.card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 400ms ease;
}

.cards {
    justify-content: center;
    justify-self: center;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#productos h2 {
    text-align: center;
    font-size: 40px;
}

.carousel {
    max-height: 800px;
    overflow: hidden;
}

.carousel02 {
    max-width: 600;
}

/*Estilos de Quienes_somos*/

.quienes_somos {
    width: 600px;
    height: 800px;
    margin-left: 500px;
    margin-top: 60px;
}

.quienes_somos h2 {
    font-size: 45px;
}

.quienes_somos p {
    font-size: 25px;
}


.imagen02 img {
    width: 700px;
    height: 100px;
}

.contanier-fluid img {
    width: 637px;
}


.card-img-top {
    width: 100%;  
}

.text-center img {
    width: 750px;
}

.contenido-titulo h1{
    font-size: 50px;
    text-align: center;
}

.contenido-titulo p {
    font-size: 25px;
    text-align: center;
}

.contenido-imagen img {
    width: 600px;
    margin-top: 40px;
}
